# Docker Compose project
COMPOSE_PROJECT_NAME=irods-grid-stack

# Images
POSTGRES_IMAGE=postgres:15
IRODS_PROVIDER_IMAGE=irods-grid-provider:5.0.3-ubuntu-noble
IRODS_RESOURCE_IMAGE=irods-grid-resource:5.0.3-ubuntu-noble
IRODS_GO_REST_IMAGE=ghcr.io/michael-conway/irods-go-rest:latest
IRODS_GO_DRS_IMAGE=ghcr.io/michael-conway/irods-go-drs:latest
STARBASE_IMAGE=ghcr.io/michael-conway/starbase:develop
TERMINAL_IMAGE=irods-grid-terminal:local

IRODS_S3_API_IMAGE=irods/irods_s3_api:latest

# Host ports
IRODS_PROVIDER_HOST_PORT=1247
IRODS_PROVIDER_CONTROL_PORT=1248
IRODS_PROVIDER_DATA_PORT_RANGE=20000-20199
IRODS_RESOURCE_HOST_PORT=2247
IRODS_RESOURCE_CONTROL_PORT=2248
IRODS_RESOURCE_DATA_PORT_RANGE=20200-20399
REST_PROVIDER_HOST_PORT=8080
REST_RESOURCE_HOST_PORT=8082
STARBASE_HOST_PORT=8081
DRS_HOST_PORT=8888
KEYCLOAK_HTTPS_HOST_PORT=8443
KEYCLOAK_MANAGEMENT_HOST_PORT=19090
S3_PROVIDER_HOST_PORT=9001
S3_RESOURCE_HOST_PORT=9002

# Public URLs advertised to browser/API clients.
# Keep these aligned with the host ports above.
REST_PROVIDER_PUBLIC_URL=http://127.0.0.1:8080
REST_RESOURCE_PUBLIC_URL=http://127.0.0.1:8082
DRS_HTTPS_ACCESS_METHOD_BASE_URL=http://127.0.0.1:8080/api/v1/path/contents?irods_path=
DRS_IRODS_ACCESS_HOST=127.0.0.1

# PostgreSQL bootstrap.
# The current init script creates one application DB user used by ICAT and Keycloak.
POSTGRES_USER=postgres
POSTGRES_PASSWORD=irods
IRODS_DB_NAME=ICAT
IRODS_DB_USER=irods
IRODS_DB_PASSWORD=testpassword
KEYCLOAK_DB_NAME=KEYCLOAK

# iRODS zone and test users
IRODS_ZONE=tempZone
IRODS_ADMIN_USER=rods
IRODS_ADMIN_PASSWORD=rods
IRODS_PROVIDER_RESOURCE=providerResc
IRODS_RESOURCE_RESOURCE=resourceResc
IRODS_PRIMARY_TEST_USER=test1
IRODS_PRIMARY_TEST_PASSWORD=test
IRODS_SECONDARY_TEST_USER=test2
IRODS_SECONDARY_TEST_PASSWORD=test

# Interactive terminal container
TERMINAL_GOCOMMANDS_REF=latest
TERMINAL_IRODS_GO_DRS_REF=develop
TERMINAL_TERM=xterm-256color
TERMINAL_INIT_IRODS_ENV=true
TERMINAL_IRODS_USER=rods
TERMINAL_IRODS_PASSWORD=rods
TERMINAL_IRODS_AUTH_SCHEME=native

# Keycloak and OIDC
KEYCLOAK_HOSTNAME=localhost
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
OIDC_INTERNAL_URL=https://keycloak:8443
OIDC_REALM=drs
OIDC_SCOPE=openid profile email
OIDC_INSECURE_SKIP_VERIFY=true

# Optional Google identity provider values consumed by config/keycloak/realm-drs.json.
GOOGLE_OIDC_CLIENT_ID=
GOOGLE_OIDC_CLIENT_SECRET=

# OIDC clients imported into the DRS realm.
DRS_API_CLIENT_ID=irods-go-drs
DRS_API_CLIENT_SECRET=change-me
IRODS_REST_WEB_CLIENT_ID=irods-go-rest
IRODS_REST_WEB_CLIENT_SECRET=change-me
